* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #212121;
  font-size: 10px;
  height: -webkit-fill-available;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

.blob {
  background: linear-gradient(to right, #26ffc2, mediumpurple);
  height: 300px;
  width: 300px;
  position: fixed;
  translate: -50% -50%;
  border-radius: 30%;
  animation: blobing infinite 5s linear;
  filter: blur(20px);
  left: 80%;
  top: 50%;
  z-index: -1;
  opacity: 1;
  opacity: 100%;
}

.navigation {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 120px;
  height: 100%;
  justify-content: space-between;
  z-index: 9999999;
}
@media screen and (max-width: 737px) {
  .navigation {
    display: none;
  }
}
.navigation a {
  color: #3f4b4f;
}
.navigation__logo-container {
  background-color: #000000;
  padding: 20px 15px;
}
.navigation__logo {
  width: 100%;
}
.navigation__title {
  color: #666666;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 0.8rem;
  text-align: center;
}
.navigation__text-list {
  margin-top: 30px;
}
.navigation__text {
  padding: 15px 10px;
  text-align: center;
  border-top: 0.5px solid #212121;
  font-family: "Source Code Pro", monospace;
  font-size: 0.85rem;
  font-weight: 600;
  transition: 0.25s;
}
.navigation__text:last-child {
  border-bottom: 0.5px solid #212121;
}
.navigation__text:hover {
  color: #26ffc2;
  cursor: pointer;
}
.navigation__icon-list {
  margin: 30px 0px 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}
.navigation__icon {
  font-size: 1rem;
  margin: 0 10px;
}
.navigation__icon:hover {
  color: #26ffc2;
  cursor: pointer;
}
.navigation-sp {
  width: 100%;
  z-index: 999;
  height: 10px;
}
.navigation-sp__button {
  background-color: black;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  margin: 10px;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}
.navigation-sp__button:hover {
  background-color: rgb(75, 72, 72);
}
.navigation-sp__button-line-one {
  width: 90%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transform: rotate(40deg) translateY(50%);
  transform-origin: left;
}
.navigation-sp__button-line-two {
  width: 90%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  opacity: 0;
}
.navigation-sp__button-line-three {
  width: 90%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transform: rotate(-40deg);
  transform-origin: left;
}
.navigation-sp__text-list {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  opacity: 90%;
  z-index: 999;
  transition: 0.25s;
  transform: translateY(-100%);
  position: fixed;
  height: 100dvh;
  height: -webkit-fill-available;
}
.navigation-sp__text {
  padding: 15px 10px;
  text-align: center;
  border-top: 3px solid #212121;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.25s;
  width: 100%;
  color: #666666;
}
.navigation-sp__text--last {
  border-bottom: 3px solid #212121;
}
.navigation-sp__text:hover {
  color: #26ffc2;
  cursor: pointer;
}

.open {
  transition: 0.25s;
  transform: translateY(0%);
}

.mv {
  padding-left: 170px;
  display: flex;
}
@media screen and (max-width: 737px) {
  .mv {
    padding: 0 0 0 25px;
    height: 100vh;
    height: 100svh;
    align-items: center;
  }
}
.mv__element-container {
  position: absolute;
  top: 50px;
  left: 150px;
}
@media screen and (max-width: 737px) {
  .mv__element-container {
    left: 25px;
  }
}
.mv__title-container {
  margin-top: 180px;
  width: 50%;
  min-width: 870px;
}
@media screen and (max-width: 737px) {
  .mv__title-container {
    margin-top: 0;
    width: 100%;
    min-width: 0;
  }
}
.mv__title {
  color: #ffffff;
  font-size: clamp(3rem, 8vw, 6rem);
  font-family: "Rubik", sans-serif;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 737px) {
  .mv__title {
    font-size: clamp(2.5rem, 5vw, 3rem);
  }
}
.mv__text-container {
  padding: 30px 0 0 20px;
}
@media screen and (max-width: 737px) {
  .mv__text-container {
    padding: 30px 0 0 0;
  }
}
.mv__text {
  color: #666666;
  padding: 10px;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
}
@media screen and (max-width: 737px) {
  .mv__text {
    font-size: 0.9rem;
    display: inline;
  }
}

.about {
  padding: 200px 0 0 170px;
  min-width: 760px;
  display: flex;
  align-items: center;
  margin-top: 300px;
}
@media screen and (max-width: 737px) {
  .about {
    height: 100dvh;
    padding: 0 25px 0 25px;
    min-width: 0;
    margin-top: 0;
  }
}
.about__content {
  width: 50%;
  min-width: 400px;
}
@media screen and (max-width: 737px) {
  .about__content {
    width: 100%;
    min-width: 0px;
  }
}
.about__text {
  width: 100%;
  background-color: rgb(10, 63, 63);
}
.about__animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  perspective: 600px;
  perspective-origin: 50% calc(50% - 150px);
}
@media screen and (max-width: 737px) {
  .about__animation {
    display: none;
  }
}
.about__scene {
  position: relative;
  transform-style: preserve-3d;
}
.about__banner {
  display: flex;
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotateY(-360deg);
  }
}
.about__panel {
  position: absolute;
  transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(190px);
  width: 50px;
  height: 120px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .about__panel {
    transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(110px);
    width: 30px;
  }
}
.about__panel::before {
  position: absolute;
  left: var(--left);
  content: "Travel Read Game Design Fun";
  font-size: 96px;
  width: -moz-max-content;
  width: max-content;
  color: hsl(var(--hue), 75%, 75%);
}
.about__panel:nth-child(1) {
  --left: 0px;
  --hue: 0;
  --angle: 0deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(1) {
    --left: 0px;
  }
}
.about__panel:nth-child(2) {
  --left: -50px;
  --hue: 15;
  --angle: 15deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(2) {
    --left: -30px;
  }
}
.about__panel:nth-child(3) {
  --left: -100px;
  --hue: 30;
  --angle: 30deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(3) {
    --left: -60px;
  }
}
.about__panel:nth-child(4) {
  --left: -150px;
  --hue: 45;
  --angle: 45deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(4) {
    --left: -90px;
  }
}
.about__panel:nth-child(5) {
  --left: -200px;
  --hue: 60;
  --angle: 60deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(5) {
    --left: -120px;
  }
}
.about__panel:nth-child(6) {
  --left: -250px;
  --hue: 75;
  --angle: 75deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(6) {
    --left: -150px;
  }
}
.about__panel:nth-child(7) {
  --left: -300px;
  --hue: 90;
  --angle: 90deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(7) {
    --left: -180px;
  }
}
.about__panel:nth-child(8) {
  --left: -350px;
  --hue: 105;
  --angle: 105deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(8) {
    --left: -210px;
  }
}
.about__panel:nth-child(9) {
  --left: -400px;
  --hue: 120;
  --angle: 120deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(9) {
    --left: -240px;
  }
}
.about__panel:nth-child(10) {
  --left: -450px;
  --hue: 135;
  --angle: 135deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(10) {
    --left: -270px;
  }
}
.about__panel:nth-child(11) {
  --left: -500px;
  --hue: 150;
  --angle: 150deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(11) {
    --left: -300px;
  }
}
.about__panel:nth-child(12) {
  --left: -550px;
  --hue: 165;
  --angle: 165deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(12) {
    --left: -330px;
  }
}
.about__panel:nth-child(13) {
  --left: -600px;
  --hue: 180;
  --angle: 180deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(13) {
    --left: -360px;
  }
}
.about__panel:nth-child(14) {
  --left: -650px;
  --hue: 195;
  --angle: 195deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(14) {
    --left: -390px;
  }
}
.about__panel:nth-child(15) {
  --left: -700px;
  --hue: 210;
  --angle: 210deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(15) {
    --left: -420px;
  }
}
.about__panel:nth-child(16) {
  --left: -750px;
  --hue: 225;
  --angle: 225deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(16) {
    --left: -450px;
  }
}
.about__panel:nth-child(17) {
  --left: -800px;
  --hue: 240;
  --angle: 240deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(17) {
    --left: -480px;
  }
}
.about__panel:nth-child(18) {
  --left: -850px;
  --hue: 255;
  --angle: 255deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(18) {
    --left: -510px;
  }
}
.about__panel:nth-child(19) {
  --left: -900px;
  --hue: 270;
  --angle: 270deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(19) {
    --left: -540px;
  }
}
.about__panel:nth-child(20) {
  --left: -950px;
  --hue: 285;
  --angle: 285deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(20) {
    --left: -570px;
  }
}
.about__panel:nth-child(21) {
  --left: -1000px;
  --hue: 300;
  --angle: 300deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(21) {
    --left: -600px;
  }
}
.about__panel:nth-child(22) {
  --left: -1050px;
  --hue: 315;
  --angle: 315deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(22) {
    --left: -630px;
  }
}
.about__panel:nth-child(23) {
  --left: -1100px;
  --hue: 330;
  --angle: 330deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(23) {
    --left: -660px;
  }
}
.about__panel:nth-child(24) {
  --left: -1150px;
  --hue: 345;
  --angle: 345deg;
}
@media screen and (max-width: 1200px) {
  .about__panel:nth-child(24) {
    --left: -690px;
  }
}

.project {
  padding-left: 170px;
  position: relative;
  margin-top: 300px;
}
@media screen and (max-width: 737px) {
  .project {
    padding: 0 25px 0 25px;
    min-width: 0;
    margin-top: 0;
  }
}
.project::before {
  content: "WORK";
  font-size: 13rem;
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  text-shadow: 3px 3px 10px rgb(17, 17, 17);
  color: rgb(37, 37, 37);
  right: 40px;
  top: 100px;
  z-index: -99999;
}
@media screen and (max-width: 737px) {
  .project::before {
    font-size: 6.5rem;
    top: 130px;
    right: 20px;
    transform: rotate(-5deg);
  }
}
.project__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
.project__container-above {
  margin-top: 0;
}
.project__container-below {
  margin-bottom: 0;
}
@media screen and (max-width: 737px) {
  .project__container-below {
    margin: 30px 0 50px;
  }
}
.project__proj {
  position: relative;
  padding: 0;
  margin: 0;
}
.project__container-above > .project__proj {
  width: 20%;
  margin-top: 50px;
}
.project__container-below > .project__proj {
  width: 25%;
}
@media screen and (max-width: 737px) {
  .project__container-below > .project__proj {
    width: 100%;
  }
}
.project__proj > .project__backg {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0%;
  transition: 0.25s;
  cursor: pointer;
}
.project__proj > .project__backg:hover {
  opacity: 100%;
}
.project__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__title {
  color: #26ffc2;
  font-size: clamp(1.2rem, 2vw, 2rem);
  padding: 0;
}
.project__text {
  margin: 15px 0;
  font-size: 1rem;
  color: white;
  font-family: "ZCOOL KuaiLe", cursive;
}
@media screen and (max-width: 1200px) {
  .project__text {
    margin: 5px 0;
  }
}
.project__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.project__item {
  color: #26ffc2;
  padding: 5px 8px;
  background-color: rgba(19, 190, 176, 0.3);
  border-radius: 10px;
  margin: 3px;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 0.8rem;
}
@media screen and (max-width: 1200px) {
  .project__item {
    padding: 3px 5px;
    font-size: 0.7rem;
  }
}

.contact {
  padding-left: 170px;
  display: flex;
  margin: 300px 0 100px;
}
@media screen and (max-width: 980px) {
  .contact {
    flex-direction: column;
    padding-right: 30px;
  }
}
@media screen and (max-width: 737px) {
  .contact {
    padding: 0 25px 50px 25px;
    justify-content: center;
    margin-top: 0;
  }
}
.contact__form {
  margin-top: 30px;
  width: 100%;
}
.contact__form-top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #26ffc2;
}
.contact__name {
  width: 48%;
  background-color: #2e2d2d;
  border: none;
  box-shadow: none;
  padding: 1em;
  color: #26ffc2;
}
.contact__email {
  width: 48%;
  background-color: #2e2d2d;
  border: none;
  box-shadow: none;
  padding: 1em;
  color: #26ffc2;
}
.contact__form-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact__subject {
  background-color: #2e2d2d;
  border: none;
  box-shadow: none;
  padding: 1em;
  color: #26ffc2;
}
.contact__message {
  background-color: #2e2d2d;
  border: none;
  box-shadow: none;
  padding: 1em;
  color: #26ffc2;
  max-width: 100%;
  min-width: 99%;
}
.contact__side {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contact__info {
  display: flex;
  color: #3f4b4f;
  font-size: 1.5rem;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  min-width: 200px;
  align-items: center;
  gap: 50px;
  padding: 16px;
}
@media screen and (max-width: 737px) {
  .contact__info {
    font-size: 1.2rem;
    gap: 25px;
    padding: 10px;
  }
}
.contact__info:hover {
  color: #26ffc2;
  cursor: pointer;
}
.contact__links {
  min-width: 400px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
@media screen and (max-width: 737px) {
  .contact__links {
    min-width: 0;
    width: 100%;
  }
}
.contact__link {
  color: white;
  background-color: #181818;
  font-size: 1.5rem;
  margin: auto;
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-family: "Jost", sans-serif;
  position: relative;
}
@media screen and (max-width: 737px) {
  .contact__link {
    height: 50px;
    width: 50px;
    font-size: 1rem;
  }
}
.contact__link:hover {
  color: #181818;
  background-color: white;
}
.contact__link:after {
  content: "";
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
  border: 1px solid white;
  z-index: -1;
}
.contact__link:hover:after {
  opacity: 1;
  width: 90px;
  height: 90px;
}
.contact__text {
  color: rgba(170, 170, 170, 0.4039215686);
  font-size: 0.9rem;
}

.skill {
  display: flex;
  padding: 200px 0 0 170px;
  align-items: center;
  margin-top: 300px;
}
@media screen and (max-width: 980px) {
  .skill {
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (max-width: 737px) {
  .skill {
    gap: 40px;
    padding: 0 25px 0 25px;
    min-width: 0;
    margin-bottom: 100px;
    margin-top: 0;
  }
}
.skill__container {
  display: flex;
  width: 50%;
  flex-direction: column;
  min-width: 45em;
  padding-right: 50px;
}
@media screen and (max-width: 980px) {
  .skill__container {
    width: 100%;
  }
}
@media screen and (max-width: 737px) {
  .skill__container {
    min-width: 0;
  }
}
.skill__resume-container {
  margin-top: 30px;
}
.skill__resume {
  font-size: 1.35rem;
  font-family: "Josefin Sans", sans-serif;
  color: #26ffc2;
  width: 20%;
}
.skill__resume:hover {
  color: #1ebd90;
  cursor: pointer;
}
.skill__resume:active {
  color: #4f4f4f;
}
.skill__bar {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 980px) {
  .skill__bar {
    width: 100%;
  }
}
@media screen and (max-width: 737px) {
  .skill__bar {
    width: 100%;
  }
}
.skill__bar-container {
  background-color: #737373;
  width: 80%;
  margin-right: auto;
  display: flex;
  height: 0.2rem;
}
.skill__bar-text {
  font-family: "ZCOOL KuaiLe", cursive;
  padding: 1em;
  font-size: 1.1rem;
  color: white;
}
.skill__css {
  background-color: blue;
  width: 80%;
  box-shadow: 0px 0px 4px blue;
  animation: CSS_Anim 2s ease;
}
@keyframes CSS_Anim {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
.skill__html {
  background-color: rgb(217, 255, 0);
  width: 98%;
  box-shadow: 0px 0px 3px rgb(217, 255, 0);
  animation: Html_Anim 3s ease;
}
@keyframes Html_Anim {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}
.skill__js {
  background-color: rgb(255, 145, 0);
  width: 85%;
  box-shadow: 0px 0px 4px rgb(255, 145, 0);
  animation: JS_Anim 1.5s ease;
}
@keyframes JS_Anim {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
.skill__sass {
  background-color: rgb(255, 0, 212);
  box-shadow: 0px 0px 4px rgb(255, 0, 212);
  width: 90%;
  animation: Csharp_Anim 2.8s ease;
}
@keyframes Csharp_Anim {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
.skill__react {
  background-color: #26ffc2;
  box-shadow: 0px 0px 4px #26ffc2;
  width: 80%;
  animation: Unity_Anim 2.2s ease;
}
@keyframes Unity_Anim {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
.skill__aside-container {
  display: flex;
  width: 100%;
  margin-top: 3em;
  gap: 30px;
  padding: 0.5em;
}
@media screen and (max-width: 980px) {
  .skill__aside-container {
    flex-direction: column;
  }
}
.skill__aside {
  width: 40%;
  background-color: #2e2d2d;
  padding: 30px;
}
@media screen and (max-width: 980px) {
  .skill__aside {
    width: 80%;
  }
}
@media screen and (max-width: 737px) {
  .skill__aside {
    width: 100%;
  }
}
.skill__aside-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  color: white;
}
.skill__aside-text {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: none;
  font-weight: normal;
  color: #737373;
}

.divider {
  padding-left: 170px;
  text-align: center;
  position: relative;
  margin: 5rem 0;
}
@media screen and (max-width: 737px) {
  .divider {
    padding-left: 25px;
  }
}
.divider__arrow-container {
  display: flex;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 737px) {
  .divider__arrow-container {
    display: none;
  }
}
.divider__arrow {
  display: inline-block;
  color: white;
  margin: 0 10px;
  opacity: 0.2;
  animation: arrow 2s infinite ease-in-out;
}
@keyframes arrow {
  0% {
    margin-top: -25px;
  }
  50% {
    margin-top: 25px;
  }
  100% {
    margin-top: -25px;
  }
}

.button {
  position: relative;
  background-color: transparent;
  color: #26ffc2;
  padding: 15px 50px;
  border: 1px solid #26ffc2;
  margin: 15px 30px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}
@media screen and (max-width: 737px) {
  .button {
    padding: 13px 40px;
    font-size: 0.6rem;
    margin: 30px 15px;
  }
}
.button--contact {
  margin: 30px 0;
  padding: 15px 80px;
}
.button:hover {
  color: #3f4b4f;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #26ffc2;
  top: 0;
  width: 0;
  transition: 0.7s;
  z-index: -1;
}
.button:hover::before {
  width: 100%;
}

@keyframes blobing {
  0% {
    rotate: 0deg;
    height: 150px;
    width: 100px;
  }
  50% {
    rotate: 180deg;
    width: 300px;
    height: 150px;
  }
  100% {
    rotate: 360deg;
    height: 150px;
    width: 100px;
  }
}
.glitch {
  animation: glitching 0.25s alternate infinite;
}
@keyframes glitching {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.element {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 2px 0;
  color: #4f4f4f;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 0.85rem;
  font-weight: 700;
}
@media screen and (max-width: 737px) {
  .element {
    font-size: 0.65rem;
  }
}

.title {
  font-size: clamp(3rem, 5vw, 4.5rem);
  color: #26ffc2;
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
}
@media screen and (max-width: 737px) {
  .title {
    font-size: clamp(2.5rem, 3vw, 3rem);
  }
}

.text {
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}
@media screen and (max-width: 737px) {
  .text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 738px) {
  .sp {
    display: none;
  }
}

@media screen and (max-width: 737px) {
  .pc {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */
