.mv {
  padding-left: $leftPaddingPc;
  display: flex;
  @include mobile {
    padding: 0  0 0 $leftPaddingSp;
    height: 100vh;
    height: 100svh;
    align-items: center;
  }

  &__element-container {
    position: absolute;
    top: 50px;
    left: 150px;
    @include mobile {
      left: $leftPaddingSp;
    }
  
  }

  &__title-container {
    margin-top: 180px;
    width: 50%;
    min-width: 870px;
    @include mobile {
      margin-top: 0;
      width: 100%;
      min-width: 0;
    }
  }

  &__title {
    color: $primary-text;
    font-size: clamp(3rem, 8vw, 6rem);
    font-family: $rubik;
    display: inline-block;
    position: relative;
    @include mobile {
      font-size: clamp(2.5rem, 5vw, 3rem);
    }
  }

  &__text-container {
    padding: 30px 0 0 20px;
    @include mobile {
      padding: 30px 0 0 0;
    }
  }

  &__text {
    color: $gray;
    padding: 10px;
    font-size: 1rem;
    font-family: $rubik;
    @include mobile {
      font-size: 0.9rem;
      display: inline;
    }
  }
}
