.navigation-sp {
  width: 100%;
  z-index: 999;
  height: 10px;

  &__button {
    background-color: black;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    margin: 10px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;

    &:hover {
      background-color: rgb(75, 72, 72);
    }
  }

  &__button-line-one {
    width: 90%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transform: rotate(40deg) translateY(50%);
    transform-origin: left;
  }

  &__button-line-two {
    width: 90%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
  }

  &__button-line-three {
    width: 90%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-40deg);
    transform-origin: left;
  }

  &__text-list {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    opacity: 90%;
    z-index: 999;
    transition: .25s;
    transform: translateY(-100%);
    position: fixed;
    height: 100dvh;
    height: -webkit-fill-available;
  }

  &__text {
    padding: 15px 10px;
    text-align: center;
    border-top: 3px solid $background-color;
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    font-weight: 600;
    transition: 0.25s;
    width: 100%;
    color: $gray;

    &--last {
      border-bottom: 3px solid $background-color;
    }

    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.open {
  transition: 0.25s;
  transform: translateY(0%);
}